@import '../node_modules/modern-normalize/modern-normalize.css';
@import '_jungka-import.css';
@import 'variables';
@import "grid";
@import "typography";
@import "ui";


//
html {
  font-size: var(--app-font-baseline);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

body {
  font-family: 'Jungka-ForPro', sans-serif;
  line-height: 1rem;
  font-size: .85rem;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  color: inherit;
}

.app-remove-margin-child {
  > *:first-child {
    margin-top: 0 !important;
  }

  > *:last-child {
    margin-bottom: 0 !important;
  }
}

// scroll
::-webkit-scrollbar-thumb {
  background-color: black; /* Couleur du curseur */
  border-radius: 10px; /* Arrondi du curseur */
}

/* Barre de défilement sur hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #333; /* Couleur du curseur au survol */
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent; /* Couleur de la barre de défilement */
}

/* Coin de la barre de défilement */
::-webkit-scrollbar-corner {
  background-color: transparent; /* Couleur du coin de la barre de défilement */
}

@media print {
  @page {
    margin: 0; /* Supprime toutes les marges */
  }

  body {
    margin: 0; /* Supprime également les marges internes du body */
    -webkit-print-color-adjust: exact; /* Pour les navigateurs basés sur WebKit (Chrome, Safari) */
    print-color-adjust: exact; /* Pour les autres navigateurs */
  }
}

@media screen {
  * {
  }
}
